
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

  /*-----------------------------------------*/
  :root {
    /*font*/
    --body-font: 'Roboto', sans-serif;
    /*typography*/
    --h1-size: 114px;
    --h2-size: 48px;
    --h3-size: 36px;
    --subtitle-size: 24px;
    --body-btn-size: 16px;
    --body-size: 16px;
    --small-p-size: 15px;

    /*font-weight*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    /*line height*/
    --h1-line-height: 80%;
    --h2-line-height: 120%;
    --h3-line-height: 130%;
    --subtitle-line-height: 120%;
    --body-btn-line-height: 140%;
    --body-line-height: 140%;
    --small-p-line-height: 120%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0%;
  }

  .section1 {
    background-image: url("../../assets/images/section1/6c4379c95b7fac4756f94f501e2105b7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
  }

  .header {
    width: 100vw;
    height: 73px;
    background-color: #000000;
    position: relative;
  }

  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 10% 0 13%;
  }

  a:hover,
  a.nav-item:active {
    color: #FE9013;
  }

  .nav-item {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: middle;
    margin: 0 4% 0 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }

  .logo_reg {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-right: 5%;
    background-image: url('/online-zoo/assets/images/donation/bamboo.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .logo_reg:hover {
    border-color: #F9804B;
  }

  .desined {
    margin-left: 30%;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;

  }
  .circle_text{   
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

  }
  .circle {
    width: 30em;
    position: relative;
    right: -50%;
    height: 30em;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display: block;
    margin-top: 1%;
  }
  
  .circle_text_yellow{
    color: #FFEE2E;
  }

  .wtch_online_button{
    display: block;
    position: absolute;
    right: 20%;
    width: 300px;
    margin-top: 4%;
  }

  main{
    margin-bottom: 20%;
  }

  .backstage {
    position: relative;
    width: 100vw;
    height: 63vh;
    display: flex;
    padding-bottom: 10%;
    padding-top: 8%;
    padding-left: 14%;
  } 

  .backstage_center {
    width: 80vw;
    display: flex;
    justify-content: space-between;

  } 

  .backstage_img{ 
    width: 40vw;
    margin: 0;
  }

  .backstage_img_cover{ 
    width: 100%;
    object-fit: cover;
  }
  .backstage_text{
    width: 40%;
  }

  .backstage_text >h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 3%;
  }

  .backstage_text >h3 {               
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 3%;
  }

  .backstage_text >h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-bottom: 7%;
  }
  
  .backstage_right{

    overflow: hidden;
  }

  .backstage_right>img{
    display:block;
    height: 31rem;
    width: auto;
    padding: 0;
    margin-left: 1%;
  }
  .leaves{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  .animals_cards{
    display: grid;
    grid-template-areas: 
      " arrow_left galery-item--1  galery-item--2  galery-item--3  arrow_right "
      "  .   galery-item--4  galery-item--5  galery-item--6  .  "
      " . . galery_btn  . .";
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 0.7fr;
    grid-column-gap:2%;
    grid-row-gap:2%;
    width: 100%;
    position: relative;
  }

  .galery-item--1{
    grid-area: galery-item--1;
  }

  .galery-item--2{
    grid-area: galery-item--2;
  }

  .galery-item--3{
    grid-area: galery-item--3;
  }

  .galery-item--4{
    grid-area: galery-item--4;
  }

  .galery-item--5{
    grid-area: galery-item--5;
  }

  .galery-item--6{
    grid-area: galery-item--6;
  }

  .arrow_left{
    grid-area: arrow_left;
  }
  
  .arrow_right{
    grid-area: arrow_right;
  }

  .galery_btn{
    grid-area: galery_btn;
    margin-left: 10%;
  }
  
  .galery_img{
    width: 100%;
    height: 85%;
    object-fit:cover;
  }

  .galery-item{
    width:100%;
    height:100%;
    border: solid 1px #FA6F32;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
  }

  .galery_header{
    font-family: 'Roboto';
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;
    text-transform: uppercase;
    color: #000000;
    margin-left: 3%;
    margin-bottom:0;
  }

  .galery_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-left: 3%;
  }

  .arrow_right {
    position:absolute;
    top: 100%;
    right: 50%;
    display: block;
    width: 5em;
    height: 5em;
    background:#FE9013;
    background-position: center;
    border-radius: 50%;
    background-image: url("../../assets/images/animalsСards/arrow_rightr.png");
    background-repeat:no-repeat;
    border-color: #FE9013;
}
  .arrow_right:hover {
    background: #4B9200;
    border: 0.3px solid #4B9200;
    background-image: url("../../assets/images/animalsСards/arrow_rightr.png");
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}

  .arrow_left {
    position:absolute;
    left: 50%;
    top: 100%;
    display: block;
    width: 5em;
    height: 5em;
    background:#FE9013;
    background-position: center;
    border-radius: 50%;
    background-image: url("../../assets/images/animalsСards/arrow_left.png");
    background-repeat:no-repeat;
    border-color: #FE9013;
  }
  .arrow_left:hover {
    background: #4B9200;
    border: 0.3px solid #4B9200;
    background-image: url("../../assets/images/animalsСards/arrow_left.png");
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .galery_btn {
    background-image: url("../../assets/images/animalsСards/btn_1.png");
    background-repeat:no-repeat;
    background-color: transparent;
    width: 100%;
    border: none;
    margin-top: 15%;
  }

  .animals_cards_container::before {
    content: '';
    position:absolute;
    background-image: url("../../assets/images/animalsСards/palm_foto.png");
    background-repeat:no-repeat;
    width: 880px; 
    height: 460px; 
    top: 2435px;
    left: 0;
    z-index: -10; 
  }

  .animals_cards_container::after{
    content: '';
    position:absolute;
    background-image: url("../../assets/images/animalsСards/strelitzia.png");
    background-repeat:no-repeat;
    width: 368px; 
    height: 275px; 
    top: 2620px;
    right: 0;
    z-index: -10;  
  }

  .pick_and_feed{
    display: flex;
    height: 1004px;
    width: 100vw;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    position: relative;
    margin-bottom: 8%;
  }

  .inside_block{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 796px;
    width: 80%;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
  }
  .text_inside{
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .text_inside_ordinary{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
  }

  .text_inside_header4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
  }

  .pick_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
  }

  .how_it_works{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 40%;
  }

  .how_header{
    align-self: center;
    margin-bottom: 5%;
  }

  .widjets{
    display: flex;
    width:100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  .widjet{
    max-width:10em;
    height: 10em;
  }

  .widjet_card{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 10em;
    width: 10em;
    text-align: center;
  }

  .widjet_p{
    padding-top: 5%;
  }

  .connection{
    display: block;
    margin: 0 2% 0 2%;
  }

  .pik_feed_button{
    background: url("../../assets/images/pikAndFeed/btn_1.png");
    position: absolute;
    bottom: 0;
    left:40%;
    width: 30%;
    height: 15%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  .testimonials{
    display:flex;
    flex-direction: column;
    height: 500px;
    margin-bottom: 5%;
    position: relative;
  }

  .testimonials_header{
    align-self: center;
  }

  .feedbacks{
    display: grid;
    grid-template-areas: 
      " feebback feebback feebback feebback";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    
    margin: 0 10% 2% 10%;
  }

  .feebback{
    padding: 5%;   
    box-sizing: border-box;
    width: 268px;
    height: 391px;
    left: calc(50% - 268px/2 - 446px);
    top: 94px;
    background: #F1F3F2;
    border-radius: 20px;
    }

  .feebback >p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
  }

  .scrol{
      display:flex;
      justify-content: center;
      margin-bottom: 2%;
      position: relative;
    }

  .base_scrol{
    box-sizing: border-box;    
    width: 599px;
    height: 8px;
    left: calc(50% - 599px/2 - 0.5px);
    background: #F5F7F6;
    border-radius: 5px;
  }

  .current_scrol{
    position:absolute;
    width: 115.19px;
    height: 6px;
    top:0;
    left: calc(50% - 115.19px/2 - 242.4px);
    background: #FE9013;
    border-radius: 5px;
  }

  .leave_feedback{
    background: url("../../assets/images/pikAndFeed/btn_2.png");
    position:absolute;
    bottom:-25%;
    left:10%;
    width: 30%;
    height: 15%;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
  }

  footer {
    display: grid;
    grid-template-areas:
      " logo  .  subscribe "
      "donate  .  .  "
      "cocialMedia  footer_menu  desined";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    height: 443px;
    background: #111115;
    padding: 3% 14% 0% 14%;
  }

  .logo_reg {
    grid-area: logo;
    margin-left: 0%;
  }

  .subscribe {
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    height: 42px;
    width: 100%;
    ;
    border-radius: 0px;
  }

  .subscribe_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #FFFFFF;
  }

  .email_subtmit {
    display: flex;
  }

  .subscribe_input {
    background-color: #000000;
    box-sizing: border-box;
    width: 228px;
    height: 42px;
    border: 0.7px solid #FE9013;
    border-radius: 2px;
  }

  .subscribe_input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding-left: 3%;
  }

  .submit {
    background: #F1F3F2;
    box-sizing: border-box;
    border: 1px solid #333B41;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-left: 2%;
  }

  .donate {
    grid-area: donate;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 0px;
    background-color: transparent;
    border: none;
  }

  .socialMeadia {
    grid-area: cocialMedia;
    display: flex;
    flex-direction: column;

  }

  .footer_menu {
    grid-area: footer_menu;
    display: flex;
    justify-content: space-around;
  }

  .signature {
    grid-area: desined;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: end;
  }
  