
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
  @import url(https://fonts.googleapis.com/css?family=Dosis:700);
  /*-----------------------------------------*/
  :root {
    /*font*/
    --body-font: 'Roboto', sans-serif;
    /*typography*/
    --h1-size: 114px;
    --h2-size: 48px;
    --h3-size: 36px;
    --subtitle-size: 24px;
    --body-btn-size: 16px;
    --body-size: 16px;
    --small-p-size: 15px;

    /*font-weight*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    /*line height*/
    --h1-line-height: 80%;
    --h2-line-height: 120%;
    --h3-line-height: 130%;
    --subtitle-line-height: 120%;
    --body-btn-line-height: 140%;
    --body-line-height: 140%;
    --small-p-line-height: 120%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0%;
  }

  .container{
    max-width: 1600px;
  }

  .section1 {
    background-image: url("../../assets/images/section1/6c4379c95b7fac4756f94f501e2105b7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
  }

  .header {
    width: 100vw;
    height: 73px;
    background-color: #000000;
    position: relative;
  }

  
  .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 10% 0 13%;
  }

  a:hover,
  a.nav-item:active {
    color: #FE9013;
  }

  .nav-item {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align: middle;
    margin: 0 4% 0 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }

  .logo_reg {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-right: 5%;
    background-image: url('/online-zoo/assets/images/donation/bamboo.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .logo_reg:hover {
    border-color: #F9804B;
  }

  .desined {
    margin-left: 30%;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
  }
  .circle_with_text{
    max-height:40rem;
  }

  .circle {
    display: block;
    position: relative;
    right: -50%;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    margin-top: 1%;
  }

  .circle_text{   
    position: absolute;
    max-width: 500.31px;
    max-height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
 
  .circle_text_yellow{
    color: #FFEE2E;
  }

  .wtch_online_button{
    display: block;
    position: absolute;
    right: 20%;
    max-width: 300px;
    margin-top: 4%;
  }

  .backstage {
    position: relative;
    max-width: 100vw;
    display: flex;
    padding-bottom: 10vh;
    padding-top: 8%;
    padding-left: 14%;
  } 

  .backstage_content{
    flex:0 0 100%; /*stop narrowing, extending and width = 100%*/
  }

  .backstage_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  } 

  .backstage_body{
    width: 90%;
    display: flex;
  }

  .backstage_img{ 
    width: 100%;

    margin-right: 3%;
  }

  .backstage_img_cover{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .backstage_text >h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 3%;
  }

  .backstage_text >h3 {               
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 3%;
  }

  .backstage_text >h5{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-bottom: 7%;
  }
  
  .backstage_right{
    flex: 0 0 60%; /*stop change*/
    transform: translate(-20%, 0px);/*revert to the scene*/
  }

  .backstage_right>img{
    width: 30%;
  }


  .animals_card_container_wrapper{  
    display:flex;
    flex-direction: column;
    width: 100%;  
    height: 100vh;
    position: relative;
  }

  .animals_cards_container{
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    }

  .animals_cards_container::-webkit-scrollbar {
    height: 0;
  }
  
  .animals_cards {
    display: grid;
    grid-gap: 3% 3%;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
    position:relative;
  }
  
  .galery-item {
    min-width:300px;
    border: solid 1px #FA6F32;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    position:relative;
  }

  .galery_img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .galery_header{
    font-family: 'Roboto';
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;
    text-transform: uppercase;
    color: #000000;
    margin: 3% 3%;
  }

  .galery_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-left: 3%;
    color: #000000;
  }

  .arrow_left,
  .arrow_right {
    display: flex;
    justify-content: center;
    align-content: center;
    background:  #FE9013;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
    display: block;
    width: 5em;
    height: 5em;
  }
  
  .arrow_left {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    background-image: url("../../assets/images/animalsСards/arrow_left.png");
    background-repeat:no-repeat;
    background-position: center;
    color: #FFFFFF;
  }
  
  .arrow_right {
    top: 50%;
    right: 5rem;
    transform: translate(-50%, -50%);
    background-image: url("../../assets/images/animalsСards/arrow_rightr.png");
    background-repeat:no-repeat;
    background-position: center;
    color: #FFFFFF;
  }
  .arrow_right:hover{
    background: #4B9200;
    border: 0.3px solid #4B9200;
    cursor: pointer;
    background-image: url("../../assets/images/animalsСards/arrow_rightr.png");
    background-repeat:no-repeat;
    background-position: center;
    color: #FFFFFF;
  }
  .arrow_left:hover {
    background: #4B9200;
    border: 0.3px solid #4B9200;
    cursor: pointer;
    background-image: url("../../assets/images/animalsСards/arrow_left.png");
    background-repeat:no-repeat;
    background-position: center;
    color: #FFFFFF;
}
  
  
  .galery_btn_area{
    display: flex;
  }

  .galery_btn {
    width: 19rem;
    height: 3rem;
    border: none;
    margin: 5% auto;

    background: #FE9013;
    border-radius: 25px;
  }

  .galery_btn_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

  .animals_cards_container::before {
    content: '';
    position:absolute;
    background-image: url("../../assets/images/animalsСards/palm_foto.png");
    background-repeat:no-repeat;
    width: 880px; 
    height: 460px; 
    top: 129rem;
    left: 0;
    z-index: -10; 
  }

  .animals_cards_container::after{
    content: '';
    position:absolute;
    background-image: url("../../assets/images/animalsСards/strelitzia.png");
    background-repeat:no-repeat;
    width: 368px; 
    height: 275px; 
    top: 141rem;
    right: 0;
    z-index: -10;  
  }

  .pick_and_feed{
    display: flex;
    height: 1004px;
    width: 100vw;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    position: relative;
  }

  .inside_block{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 63rem;
    width: 72rem;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .text_inside{
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .text_inside_ordinary{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-top:1ren;
  }

  .text_inside_header4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 3rem;
  }

  .pick_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    margin-bottom: 3rem;
  }

  .how_it_works{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 67%;
    height: 40%;
  }

  .how_header{
    align-self: center;
    margin-bottom: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */


    color: #333B41;
  }

  .widjets{
    display: flex;
    width:80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
  }

  .widjet{
    max-width:10em;
    max-height: 10em;
  }

  .widjet_card{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 10em;
    width: 10em;
    text-align: center;
    border-color: #FE9013;
    border-radius: 5px;
    margin-bottom: 2rem;
  }

  .widjet_p{
    padding-top: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */


    color: #333B41;
  }

  .connection{
    display: block;
    margin: 0 2% 0 2%;
  }
  
  .pik_feed_button_area{
    display: flex;
    justify-content: center;
  }

  .pik_feed_button{
    width: 19rem;
    height: 3rem;
    border: none;
    margin-top: 5%;

    background: #FE9013;
    border-radius: 25px;
  }

  .pik_feed_button_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
  }

  .testimonials{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width:80%;
    margin: 0 auto;
    position: relative;
  }

  .testimonials_header{
    align-self: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #141515;
    margin: 8% 0 5% 0;
  }
  .feedbackContainer{
    max-width: 80rem;
    height: 40vh;
    max-width: 0 auto;
    overflow:hidden;
  }

  .feedbacks{
    display: flex;
    position:relative;
    margin-bottom: 2%;
    transition: .2s;
    left:0;
  }
  
  .feedback{
    max-height: 40rem;
    min-width: 15rem;   
    box-sizing: border-box;
    background: #F1F3F2;
    border-radius: 20px;
    overflow: hidden; 
    padding: 1%;
    margin: 0 0.5%;
  }

  .feedback >p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
  }

  h3{ 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 1%;
  }
  .value {
    color: #FE9013;
    text-align: center;
    font-weight: bold;
    font-size: 1em;

    line-height: 60px;
    margin: 0 auto;
    letter-spacing: -.07em;
    text-shadow: white 2px 2px 2px;
  }
  input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #FE9013;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #FE9013;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #FE9013;
  }

  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }

  .feedbacksBtns{
    display: flex;
    justify-content: center;
  }

  .btnNext,
  .btnPrev{
    width: 19rem;
    height: 3rem;
    border: none;
    margin-top: 5%;
  }

  .btnNext>p,
  .btnPrev>p{
    text-align: center;
    justify-content: center;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255 255 255);
  }

  .leave_feedback_btn_area{
    display:flex;
    margin-top: 5%;
    margin-bottom: 6%;
  }

  .leave_feedback{
    position:absolute;
    left:10%;
    width: 19rem;
    height: 3rem;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
  }
  .leave_feedback_btn_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

  .modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    z-index: 10;
  }

  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
  }

  .modal_content_personName{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 2%;
  }

  .modal_content_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
  }

  /* Toggle this class - hide and show the popup */
  .modal.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  .modal.close{
    opacity: 1;
    visibility: hidden;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;

  }
  .close_modal_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40%;
    height:10%;
    background-color: rgb(72, 70, 70);
    color: white;
    margin: 20px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 2px #5e5d5b;
  }

  footer {
    display: grid;
    grid-template-areas:
      " logo  .  subscribe "
      "donate  .  .  "
      "cocialMedia  footer_menu  desined";
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    height: 443px;
    background: #111115;
    padding: 3% 14% 0% 14%;
  }

  .logo_reg {
    grid-area: logo;
    margin-left: 0%;
  }

  .subscribe {
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    height: 42px;
    width: 100%;
    border-radius: 0px;
  }

  .subscribe_header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #FFFFFF;
  }

  .email_subtmit {
    display: flex;
  }

  .subscribe_input {
    background-color: #000000;
    box-sizing: border-box;
    width: 228px;
    height: 42px;
    border: 0.7px solid #FE9013;
    border-radius: 2px;
  }

  .subscribe_input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding-left: 3%;
  }

  .submit {
    background: #F1F3F2;
    box-sizing: border-box;
    border: 1px solid #333B41;
    border-radius: 5px;
    width: 129px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    margin-left: 2%;
  }

  .donate {
    grid-area: donate;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 0px;
    background-color: transparent;
    border: none;
  }

  .socialMeadia {
    grid-area: cocialMedia;
    display: flex;
    flex-direction: column;

  }

  .footer_menu {
    grid-area: footer_menu;
    display: flex;
    justify-content: space-around;
  }

  .signature {
    grid-area: desined;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: end;
  }
  @media only screen and (min-width: 1000px) and (max-width: 1600px)
 {
    .backstage_right>img{ 
      display: none;
    }

    .feedback{
      min-width:294px;
    }
  
  }
  @media only screen and (min-width: 320px) and (max-width: 999px){
    .menu-btn {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 1%;
      z-index:2;
      overflow: hidden;
    }
    .menu-btn span {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
      top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  
    /* Changing the burger icon when the menu is open */
    .menu-btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    }
  }
  @media only screen and (min-width: 640px) and (max-width: 999px){
    .header{
      min-height: 35px;
    }
    
    .section1 {
      height: 60vh;
    }

    .nav-item {
      display: none;
    }

    .desined{
      display: none;
    }

    .circle {
      width: 15rem;
      height: 15rem;
    }

    .circle_text{
      font-size: 50px;
      top: 80px;
      left: 55%;
    }

    .wtch_online_button{
    left: 4%;
    margin-top: 0;
    }

    .backstage{
      padding-left: 1%;
    }
    .backstage_img{ 
      display: none;
    }
    .pick_and_feed{
      padding: 1%;
    }

    .feedbacks{ 
      flex-direction: colomn;
    }
    .subscribe{
      display:none;
    }
  }

  @media only screen and (max-width: 639px){
    .header{
      height: 10%;
    }
    .menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      padding: 15px;
      background: #FFEFBA;
      transform: translateX(-100%);
      transition: transform 0.5s; 
    }
    .menu.active {
      transform: translateX(0);
    }
    .menu a {
      list-style-type: none;
    }

    .circle {
      width: 8rem;
      height: 8rem;
      margin-top: 3%;
    }

    .circle_text{
      font-size: 20px;
      top: 80px;
      left: 55%;
    }
    .wtch_online_button{
      margin-top: 20%;
    }
    .section1 {
      height: 30vh;
    }

    .backstage_text >h2,
    .backstage_text >h3{
      font-size: 24px;
    }

    .backstage_img{
      display:none;
    }

    .backstage_text >h5{
      font-size: 16px;
    }

    .arrow_left,
    .arrow_right {
      display: none;
    }
    .animals_card_container_wrapper{
      flex-direction: column;
    }
    .how_it_works{
      min-height:  1042px;
      justify-content: start;
    }
    .widjets{
      flex-direction:column;
      height: 100vh;
    }
    .text_inside_ordinary{
      display: none;
    }

    .pick_header{
      margin-bottom:1%;
      font-size: 24px;
    }
    .how_header{
      margin-bottom: 0;
      font-size: 24px;
    }
    text_inside_header4{
      font-size: 18px;
      line-height: 130%;
    }
  }