
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/*-----------------------------------------*/
:root{
    /*font*/
    --body-font: 'Roboto', sans-serif;
    /*typography*/
    --h1-size: 114px;
    --h2-size: 48px;
    --h3-size: 36px;
    --subtitle-size:24px;
    --body-btn-size:16px;
    --body-size:16px;
    --small-p-size:15px;

    /*font-weight*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium:500;
    --font-bold:700;
    /*line height*/
    --h1-line-height:80%;
    --h2-line-height:120%;
    --h3-line-height:130%;
    --subtitle-line-height:120%;
    --body-btn-line-height:140%;
    --body-line-height:140%;
    --small-p-line-height:120%;
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    color: #ffffff;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
    margin:0%;
  }

  .section1{
    background-image: url("../../assets/images/section1/6c4379c95b7fac4756f94f501e2105b7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 700px;
  }
  .header{
    width: 100vw;
    height: 100px;
    background-color: #000000;
    position: relative;

  }
  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 10% 0 10%;
  }

  a:hover, a:active {
    color: #fe9013;
  }

  .nav-item{
    color:#FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align:middle;
    margin: 0 3%;
  }

  .logo{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;   
  }

  .logo_reg{
    position: relative;
    display: inline-block;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-left: 15%;
  }

  .logo_reg:hover{
    border-color: #F9804B;
  }

  .desined{
    margin-left: auto;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;

  }

  main{
    height: 1482px;

    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }
  
  .pick_and_feed{
    display:flex;
    flex-direction: column;
    padding: 3% 3% 3% 3%;
  }

  .pick_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF; 
    margin-bottom: 2%;
  }

  .pick_header_p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    margin-bottom:2%;
  }

  .next_header>p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
    margin-bottom:5%;
  }

  .inner_block{
    display:flex;
    flex-direction: column;
    width:80%;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 0 10% 0 10%;
  }

  .inner_block_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    padding-top: 5%;
    margin-bottom: 5%;
  }

  .second_inner_block_header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 10%;
  }

  .number{
    text-align:center;
  }

  .number_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;   
    text-align: center;
    color: #333B41;
    
  }

  .multiply{
    height: 7%;
    margin-right: 5%;
  }

  .bear_picture{
    display: flex;
    justify-content: center;

    align-items: center;
    margin-bottom: 10%;
  }
 
  .amount_line_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
  }

  .choose_amount_line{
    margin-bottom: 10%;
  }
    

  .amount_line{
    position: relative;
    background-image: url("../../assets/images/donation/Rectangle 11.png");
    background-repeat: no-repeat;
  }

  
  

  .amount_line_scale_divisions{
    position: absolute; 
    display: flex;
    justify-content: space-around;
  }

  .choose_amount_input{
    box-sizing: border-box;
    border: 1px solid #929699;
    border-radius: 2px;
    width: 268px;
    height: 64px;
    margin-bottom: 5%;
  }

  .anotherAmout{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    align-self: center;
    padding: 5% 0 0 2%;
    margin-bottom: 5%;
  }

  .radio{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    width: 40%;
    font-style: normal;

  }

  .radio_circle{
    box-sizing: border-box;
    border: 1px solid #FE9013;
    margin-right: 5%;
  }

  .radio_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
  }

  .feed_button{
    background-color: transparent;
    border: none;
    margin-bottom: 5%;
  }

  .shareText{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    margin-bottom: 5%;
    padding-left: 2%;
  } 

  footer{
    display: grid;
    grid-template-areas: 
      " logo  .  subscribe "
      "donate  .  .  "
      "cocialMedia  footer_menu  desined";
    grid-template-columns: 1fr  1.5fr 1fr;
    grid-template-rows: 1fr 1fr 2fr ;
    height: 443px;   
    background: #111115;
    padding: 3% 10% 3% 10%;
  }

  .logo_reg{
    grid-area: logo;
    margin-left: 0%;
  }

  .subscribe{
    grid-area: subscribe;
    display: flex;
    flex-direction: column;
    height: 42px;
    width: 100%;;
    border-radius: 0px;
  }

  .subscribe_header{
    padding-left: 10%;
  }

  .email_subtmit{
    display: flex;
    justify-content: end;
  }

  .subscribe_input{
    background-color: #000000;
    box-sizing: border-box;
    height: 42px;
    border-radius: 2px;
    border: 0.7px solid;
    border-image-source: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  }

  .subscribe_input::placeholder{
    color:#F5F7F6;
  }

  .submit{
    background-color: transparent;
    border: none;
  }

  .donate{
    grid-area: donate;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 0px;
    background-color: transparent;
    border: none;
  }

  .socialMeadia{
    grid-area: cocialMedia;
    display:flex;
    flex-direction: column ;

  }

  .footer_menu{
    grid-area: footer_menu;
  }

  .footer_nav-item{
 
  }

  .signature{
    grid-area: desined;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: end;
  }
  
  